<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />

<style type="text/css">
    body{
        background-color: rgb(186, 186, 186);
    }
    .formfield {
        font-family:Arial;
	    width: 90%;
	    position: relative;
	    margin-top:3px;
	    border:0;
	    border-radius:3px;
    }
    .container {
        width: 50%;
        background-color: rgb(87, 89, 88);
        padding-bottom: 20px;
        padding-top: 10px;
        
        border-radius:3px;
    }
</style>

<center>
    <div class="container">
        <div style='color:white;' class = "formfield"> Введите массивы А и В через пробел</div>
        <input class = "formfield" type="text" id="txtA" placeholder = "A">
        <input class = "formfield" type="text" id="txtB" placeholder = "B">
        <input class = "formfield" type="button" id="snd" value="Отправить набор">
        <input class = "formfield" type="button" id="proceed" value="Обработать наборы">
        <input class = "formfield" type="button" id="showresults" value="Посмотреть результаты">
        <div class = "formfield" id = "status"></div>
        <div class = "formfield" id = "resultstatus"></div>
    </div>
</center>

<script>
var statdiv = document.getElementById("status")
var resstatdiv = document.getElementById("resultstatus")
var iterations = 0;

function setLabel(label, color, text){
    label.innerHTML = text;
    label.style.backgroundColor = color;
}

function send_json(){
    //form json from two strings
    
    var arA = document.getElementById("txtA").value.split(' ');
    var arB = document.getElementById("txtB").value.split(' ');
    var mas = [], i;
    
    for(i=0;i<arA.length;i++){
        var item = {};
        item['A'] = arA[i];
        item['B'] = arB[i];
        mas.push(item);
    }
    var tosend = {'data':mas};
    var xhr = new XMLHttpRequest();
    
    xhr.open('POST', 'pst');
    xhr.onreadystatechange = function(){
        if (xhr.readyState == 4){
            if(xhr.status == 200)
                setLabel(statdiv, "green", "SUCCESS");
            if(xhr.status == 400)
                setLabel(statdiv, "red", xhr.responseText);
            
        }
    };
    setLabel(statdiv, "yellow", "PENDING");
    xhr.send(JSON.stringify(tosend));
}

function try_to_get_results() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', 'results');
    xhr.onreadystatechange = function(){
        if (xhr.readyState == 4){
            if(xhr.status == 200){
                setLabel(resstatdiv, "white", xhr.responseText);
                setLabel(statdiv, "green", "Готово!");
                iterations = 0;
            }else if(xhr.status == 500 ){
                setLabel(resstatdiv, "yellow", xhr.responseText);
            }else if(xhr.status == 409){
                setLabel(resstatdiv, "yellow", "Ожидаем завершения обработки");
            }
        }   
    };
    setLabel(resstatdiv, "yellow", "PENDING");
    xhr.send();
}

function proceed(){
    //send request to run handling data on the server
    
    var xhr = new XMLHttpRequest();
    xhr.open('GET', 'proceed');
    xhr.onreadystatechange = function(){
        if (xhr.readyState == 4){
            if(xhr.status == 409){
                setLabel(statdiv, "yellow",xhr.responseText);
            }
            if(xhr.status == 200)
                setLabel(statdiv, "green", "Запрос на обработку отправлен");
        }
    };
    xhr.send();
}

document.getElementById("snd").onclick = send_json;
document.getElementById("proceed").onclick = proceed;
document.getElementById("showresults").onclick = try_to_get_results;
</script>


